
.navPusher {
  padding-top: 0px !important;
}

.mainContainer {
  padding: 50px 0 0 0 !important;
}

.fixedHeaderContainer {
  /* 上部の青いバナーも消すには display: none; */
}    

ul.breadcrumbs > li {
    display: none !important;
}

span.theme-doc-version-badge {
    display: none !important;
}

.skipToContent_fXgn,
.slidingNav,
.button,
.nav-footer,
.navBreadcrumb {
  display: none !important;
}

input {
  display: none !important;
}

div.theme-doc-footer-edit-meta-row {
  display: none !important;
}

ul.nav-site > li {
  display: none !important;
}

p, li, th, tr, td, h1, h2, h3, h4, h5, h6 {
  font-family: "Meiryo UI" !important;
}
